# Google Services (Firebase)
google-services.json
app/google-services.json

# Local config
local.properties

# Gradle
.gradle/
build/

# IDE
*.iml
.idea/
.DS_Store

# NDK / CMake
.externalNativeBuild/
.cxx/
